/* begin Page */

/* Start Box */
.eds-box {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='eds-box-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.eds-box-body {
   zoom:1;
}
.eds-box-tl, .eds-box-tr, .eds-box-cl, .eds-box-cr, .eds-box-bl, .eds-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.eds-box-tl,.eds-box-bl,.eds-box-cl {
   left:0;
}
.eds-box-tr,.eds-box-br,.eds-box-cr {
   right:0;
}
.eds-box-cl, .eds-box-cr {
   background-repeat:repeat-y;
}
.eds-box-tl {
   background-position: top left;
   z-index:-3;
}
.eds-box-tr {
   background-position: top right;
   z-index:-3;
}
.eds-box-cl {
   background-position: center left;
   z-index:-3;
}
.eds-box-cr {
   background-position: center right;
   z-index:-3;
}
.eds-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.eds-box-br {
   background-position: bottom right;
   z-index:-3;
}

.eds-box .eds-box-tl,.eds-box .eds-box-tr,.eds-box .eds-box-cl,.eds-box .eds-box-cr,.eds-box .eds-box-bl,.eds-box .eds-box-br{
   z-index:-2;
}
.eds-box .eds-box .eds-box-tl,.eds-box .eds-box .eds-box-tr,.eds-box .eds-box .eds-box-cl,.eds-box .eds-box .eds-box-cr,.eds-box .eds-box .eds-box-bl,.eds-box .eds-box .eds-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.eds-bar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='eds-bar-'+e[ i]}('r,l'.split(',')));
}
.eds-bar-l, .eds-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.eds-bar-l {
   left:0;
   background-position: top left;
}
.eds-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Header */
.eds-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='eds-header-jpeg');
   z-index: 1;
}

.eds-header-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   width:100%;
   height: 260px;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin Menu */
.eds-nav {
   position: expression(runtimeStyle.position='relative');
}
.eds-nav>.eds-bar-l, .eds-nav>.eds-bar-r{
   background-image: url('images/nav.png');
}
.eds-nav>.eds-bar-l{
   right: 0;
}
.eds-nav>.eds-bar-r{
   width: 0;
}
.eds-hmenu ul li {
   float: left !important;
   width:100%;
}
.eds-hmenu>li 
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}

/* end Menu */

/* begin MenuItem */
ul.eds-hmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='eds-hmenu-'+e[ i]}('r,l'.split(',')));
}
ul.eds-hmenu>li>a>span.eds-hmenu-l, ul.eds-hmenu>li>a>span.eds-hmenu-r
{
   position: absolute;
   display: block;
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.eds-hmenu>li>a>span.eds-hmenu-l
{
   left: 0;
   right: 11px;
   background-position: top left;
}

ul.eds-hmenu>li>a>span.eds-hmenu-r
{
   width: 11px;
   right: 0;
   background-position: top right;
}

ul.eds-hmenu>li>a.active>span.eds-hmenu-l {
   background-position: bottom left;
} 
ul.eds-hmenu>li>a.active>span.eds-hmenu-r {
   background-position: bottom right;
}
ul.eds-hmenu>li>a.active {
   color: #423D41;
}

ul.eds-hmenu>li>a:hover>span.eds-hmenu-l, ul.eds-hmenu>li:hover>a>span.eds-hmenu-l {
   background-position: center left;
}
ul.eds-hmenu>li>a:hover>span.eds-hmenu-r, ul.eds-hmenu>li:hover>a>span.eds-hmenu-r {
   background-position: center right;
}
ul.eds-hmenu>li>a:hover, ul.eds-hmenu>li:hover>a{
   color: #1D1B1D;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.eds-hmenu>li:first-child {
   padding-right:8px;
}
/* end MenuSeparator */

/* begin Layout */
.eds-content-layout, .eds-content-layout-row, .eds-layout-cell 
{
   display: block;
   zoom: 1;
}
.eds-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin BlockHeader, VMenuBlockHeader */
.eds-vmenublockheader>.eds-bar-l, .eds-vmenublockheader>.eds-bar-r{
   background-image: url('images/vmenublockheader.png');
}
.eds-vmenublockheader>.eds-bar-l{
   right: 17px;
}
.eds-vmenublockheader>.eds-bar-r{
   width: 17px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin VMenuItem */
ul.eds-vmenu, ul.eds-vmenu ul, ul.eds-vmenu li{
   zoom: 1;
}
ul.eds-vmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='eds-vmenu-'+e[ i]}('r,l'.split(',')));
}
ul.eds-vmenu>li>a>span.eds-vmenu-l, ul.eds-vmenu>li>a>span.eds-vmenu-r
{
   position: absolute;
   display: block;
   z-index:-1;
   background-image: url('images/vmenuitem.png');
   top:0;
   height:30px;
}

ul.eds-vmenu>li>a>span.eds-vmenu-l{
   left: 0;
   right: 20px;
   background-position: top left;
}
ul.eds-vmenu>li>a>span.eds-vmenu-r{
   width: 20px;
   right: 0;
   background-position: top right;
}
ul.eds-vmenu>li>a.active>span.eds-vmenu-l {
   background-position: bottom left;
}
ul.eds-vmenu>li>a.active>span.eds-vmenu-r {
   background-position: bottom right;
}
ul.eds-vmenu>li>a:hover>span.eds-vmenu-l  {
   background-position: center left;
}
ul.eds-vmenu>li>a:hover>span.eds-vmenu-r {
   background-position: center right;
}

ul.eds-vmenu .eds-vmenu-separator, ul.eds-vmenu .eds-vmenu-separator-bg
{
   display: block;
   position:absolute;
   left:0;
   right:0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.eds-vmenu ul a{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='eds-vmenu-icon');
}
ul.eds-vmenu ul a>span.eds-vmenu-icon
{
   display: block;
   position:absolute;
   top:8px;
   width: 5px;
   height: 7px;
   overflow: visible;
   background-image: url('images/vsubitemicon.png');
   background-position: top left;
   background-repeat: no-repeat;
   left:  15px;
}

ul.eds-vmenu ul a:hover>span.eds-vmenu-icon{
   background-position: center left;
}
ul.eds-vmenu ul a.active:hover>span.eds-vmenu-icon{
   background-position: center left;
}
ul.eds-vmenu ul a.active>span.eds-vmenu-icon{
   background-position: bottom left;
}

ul.eds-vmenu ul ul a>span.eds-vmenu-icon{
   left:30px;
}
ul.eds-vmenu ul ul ul a>span.eds-vmenu-icon{
   left:45px;
}
ul.eds-vmenu ul ul ul ul a>span.eds-vmenu-icon{
   left:60px;
}
ul.eds-vmenu ul ul ul ul ul a>span.eds-vmenu-icon{
   left:75px;
}

/* end VMenuSubItem */

/* begin PostIcons, PostHeaderIcons */
.eds-postheadericons span{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.eds-postcontent {
   height: 1%;
}
/* end PostContent */

/* begin PostIcons, PostFooterIcons */
.eds-postfootericons span{
   zoom: 1;
}/* end PostIcons, PostFooterIcons */

/* begin Footer */
.eds-footer {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='eds-footer-'+e[ i]}('r,l,t'.split(',')));
}
.eds-footer-body 
{
   zoom: 1;
   padding-right: 0;
}

.eds-footer-t
{
   position: absolute;
   z-index:-1;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-image: url('images/footer.png');
   background-position:bottom left;
}

.eds-footer-l, .eds-footer-r 
{
   position: absolute;
   content:' ';
   z-index:-1;
   bottom:0;
   height:50px;
   background-image: url('images/footer_b.png');
}

.eds-footer-l
{
   left:0;
   right:0;
   background-position: top left;
}

.eds-footer-r
{
   right:0;
   width:0;
   background-position: top right;
}
/* end Footer */

/* begin LayoutCell, content */
.eds-content 
{
   width: auto;
   float:none;
}
/* end LayoutCell, content */

